
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


h1 {
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid black;
    margin: 20px auto;
    width: 79%;
}


nav {
    text-align: left;
    background-color: yellow;
    padding: 0px;
    margin: 20px auto;
    width: 79%;
    
    
}

nav a {
    text-decoration: underline;
    color: blue;
    margin: 0 0px;
    font-weight: bold;
}


article {
    background-color: #b3f4ff; 
    border-radius: 10px; 
    padding: 15px;
    margin: 20px auto;
    width: 80%;
    border: 1px solid rgb(0, 0, 0);
    
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
}

p {
    font-size: 1em;
}

/* Estilo para el pie de página */
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
}

footer a {
    color: blue;
    text-decoration: none;
}
